* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  padding: 0 16px;
}

header {
  display: flex;
  margin: 0 -16px;
  padding: 8px;
  border-bottom: 1px solid #dadce0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.hamburger {
  margin-right: 10px;
}

.hamburger img {
  padding: 6px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.hamburger img:hover {
  background: #b2b2b2;
  border-radius: 50%;
}

header img {
  margin-right: 6px;
}

header span {
  font-size: 22px;
  font-weight: 400;
  color: #5f6368;  
}

header h1 {
  display: flex;
  align-items: center;
}

.sideMenu {
  width: 280px;
  height: 100vh;
  list-style: none;
  background: #eee;
  position: absolute;
  top: 63px;
  left: -280px;
  transition: left .3s;
}

.sideMenu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 16px 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 5px 0;
}

.sideMenu span {
  font-size: 14px;
  font-weight: 700;
  color: #202124;  
}

.sideMenu a:hover {
  background: #b2b2b2;
}

.sideMenu a:focus {
  background: #fbbc04;  
}

.sideMenu img {
  margin-right: 30px;
}

.sideMenuActive {
  left: 0;
}

footer {
  width: calc(100% - 16px);
  text-align: center;
  color: #5f6368;
  padding: 8px;
  position: absolute;
  bottom: 0;
}

.regSign {
  position: relative;
  top: -4px;
}

.noteContainer {
  padding: 56px 40px;
}

.note {
  width: 25%;
  border: 2px solid #e0e0e0;
  border-radius: 14px;
  padding: 12px 16px;
}

.note h1 {
  font-size: 16px;
  color: #dadce0;
}

.note p {
  padding-top: 12px;
}